body{
    text-align: center;
}

body {
    background-image: url("");
    background-color:wheat ;
   }

   img{
    width:25%;
    max-height: 25% ;
    border-width: 100%;
    border-color: brown;
}

* {
    box-sizing: border-box;
   }

   * {
    box-sizing: border-box;
    padding: 15px;
   }

   body {
    background-color:rgb(142, 167, 189);
   }

   p{
    font-family:serif;
    font-size: medium;
    font-style:normal;
    font-weight: lighter;
}

h3 {
    color:sienna;
    font-size: 48px;
}

p{
    background-color:khaki;
    
}

h1{
    font-size: 58px;
    color: sienna;
    font-style: oblique;
}

img {
    border: 5px solid sienna;
  }


